<div class="about_container">
  <app-header></app-header>
  <div class="about_content">
    <div class="about_content-intro">
      <h2>We specialize in custom-made leatherwork. While a selection of ready-to-purchase items is always available, the heart of our business lies in bringing your unique vision to life. We offer a collaborative experience, where you will play a key role in designing your one-of-a-kind piece. We craft every item with care, precision, and a passion for making something meaningful.</h2>
    </div>
    <div class="about_feature lalenia">
      <div class="about_feature-content">
        <div class="about_feature-content-title">
          <h1>Lalenia</h1>
          <h5>The Artisan</h5>
        </div>
        <div class="about_feature-content-text">
          <p>Lalenia is the heart and hands behind Elmwood Armory. Every part of the process - cutting, tooling, dyeing, sewing - is done by hand, bringing a distinct touch to each item. She finds the most enjoyment in the tooling process: creating unique artwork, carving it into the surface, and stamping the leather to raise the design.</p>
          <p>Leatherwork has been a part of her life for as long as she can remember. From a young age, she would patch scraps and faux leather together, just to see what she could make. In High School, Ethan gifted her a starter kit with a few basic tools, opening the door to exploring the craft more seriously. In 2020, she bought her first full side of leather and enrolled in Black Raven Academy, and there was no going back.</p>
        </div>
      </div>
      <div class="about_feature-picture">
        <img src="assets/img/about/lalenia_profile.jpg" alt="Lalenia Profile Picture">
      </div>
    </div>
    <div class="about_feature ethan">
      <div class="about_feature-content">
        <div class="about_feature-content-title">
          <h1>Ethan</h1>
          <h5>The Smith</h5>
        </div>
        <div class="about_feature-content-text">
          <p>Ethan is a driving force behind the scenes. He builds and manages the website, handles taxes, and helps with product estimates and invoicing. His support and optimism allow us to continue to deliver consistent, high-quality products to our customers at every event.</p>
          <p>As Elmwood Armory grows, Ethan hopes to embrace his creative side as he learns more about blacksmithing to create the hardware for the pieces himself, allowing the custom, handmade nature of the business to extend to every aspect of the product.</p>
        </div>
      </div>
      <div class="about_feature-picture">
        <img src="assets/img/about/ethan_profile.jpg" alt="Ethan Profile Picture">
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
