<div class="policies_container">
  <app-header></app-header>
  <div class="policies_content">
    <h1>Policies</h1>

    <h3>Returns</h3>
    <p>We do not accept returns or refunds on custom, made-to-order, inventory, or
      personalized items. If there is an extraneous circumstance, please email us at
      business&#64;elmwoodarmory.com.</p>
    <p>Elmwood Armory is not responsible for products that do not fit due to incorrect
      measurements provided by the customer. Please double-check your measurements
      before submitting them for custom pieces.</p>
    <h3>Custom Pieces</h3>
    <p>Once a final concept for a custom piece is approved, deposit has been made and the
      project started, any changes that require replacing leather will incur an additional fee.
      Taking a deposit allows us to purchase the leather and hardware needed to begin your
      project. Once the materials have been purchased and the work started, this deposit is
      non-refundable.</p>
    <h3>Damages and Repairs</h3>
    <p>Inspect your item upon arrival and contact me within 7 days of delivery is there are any
      defects, damage, or if you received the wrong item. We’ll evaluate the issue and do our
      best to make it right.</p>
    <p>Damage caused by water, pets, misuse, lack of maintenance, or general wear and tear
      is not covered. However, we’re happy to help with repairs any way we can for a small
      fee. To maintain your leather, we recommend cleaning them with leather soap and
      conditioning them annually.</p>
    <h3>Cancellations</h3>
    <p>If your item hasn’t shipped yet, we may be able to cancel the order. Once the item has
      shipped, cancellations are no longer possible. If you have a special circumstance,
      please reach out.</p>
    <h3>Shipping</h3>
    <strong>Ready-Made Items</strong>
    <p>Ready-Made Items are in-stock inventory and typically ship within 5 business days of
      your order. If we anticipate any delay, we’ll notify you by email.
      Made-to-Order and Custom Items</p>
    <p>Items that are made-to-order or custom are crafted to your specifications. Because of
      the time and care involved, we cannot guarantee exact delivery dates.</p>
    <ul>
    <li>Smaller made-to-order items usually ship within a month.</li>
    <li>Custom orders will be completed in the order they are received.</li>
    </ul>
    <p>We’ll always stay in touch with updates and let you know when we begin and finish your
      piece.</p>
    <p>Multiple orders with the same customer name and shipping address will be combined
      into one shipment. If you’d prefer your order to ship separately, email
      Lalenia.moore&#64;elmwoodarmory.com with your request.</p>
    <h3 id="privacy">Privacy Policy</h3>
    <p>This policy explains how we collect and use your personal information when you make a
      purchase from www.elmwoodarmory.com (the “Site”).</p>
    <h3>Personal Information we collect</h3>
    <strong>When you place an order, we collect:</strong>
    <ul>
      <li>Your name</li>
      <li>Billing and shipping address</li>
      <li>Payment Information (including credit card numbers)</li>
      <li>Email address and phone number</li>
    </ul>
    <p>If you submit a custom order or request a service, we also collect your name and
      preferred contact information (email or phone number).</p>
    <h3>How we use your information</h3>
    <strong>We use your information to:</strong>
    <ul>
        <li>Process and fulfill orders</li>
        <li>Communicate with you about or order or custom project</li>
        <li>Send invoices or order confirmations</li>
        <li>Handle any order issues or questions</li>
    </ul>
    <h3>We will never sell or share your personal information with third parties.</h3>
  </div>
  <app-footer></app-footer>
</div>
